<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
  />
    <title>Food details</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Details of <%= food.name %></h1>

    <h2>Details</h2>
    <p>Name: <%= food.name %></p>

    <form action="<%= food._id %>?_method=DELETE" method="post">
        <a href="<%= food._id %>/edit">edit</a>
        <button type="submit">delete</button>
    </form>

</body>
</html>